body {
    
    
    
    background-image: url(space.jpg);
  }
  
  /* Make the image responsive */
  
  
  /* Style the button and place it in the middle of the container/image */
  .btn {
    
    top: 50%;
    left: 30%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
   .btn:hover {
    background-color: black;
  }
